
<!DOCTYPE html>
<html lang="en">

<head>
  <title>{% block title %}{% endblock title %} | Dailynotes</title>
  <link rel="icon" href="https://fav.farm/🔥" />
  <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
  {% block head %}

  {% endblock head %}
</head>

<body class="prose p-10">
  <header>
    <nav class="flex justify-between items-center">
      <a href="/" class="text-2xl font-bold">Home</a>
      <a href="/movies" class="text-blue-500">Movies</a>
      <a href="/login" class="text-blue-500">Login</a>
    </nav>
  </header>
  <div id="content">
    {% block content %}
    {% endblock content %}
  </div>

  {% block js %}

  {% endblock js %}
</body>

</html>
